.dropdown-menu {
    padding: 0;
    overflow: hidden;
}

.show {
    visibility: visible !important;
}

.modebar-group {
    display: flex !important;
}

.no-max-width {
    max-width: none !important;
}

.dash-spreadsheet-menu {
    display: none !important;
}

.Select-menu-outer {
    display : block !important;
}

#resize-drag::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 10px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 50%;
}