.dropdown-menu {
    padding: 0;
    overflow: hidden;
}

.show {
    visibility: visible !important;
}

.modebar-group {
    display: flex !important;
}

.no-max-width {
    max-width: none !important;
}

.dash-spreadsheet-menu {
    display: none !important;
}